/* Base Styles */
body {
    font-family: Arial, sans-serif; /* Setting a default font for the entire document */
    line-height: 1.6; /* Improving readability by increasing line height */
    margin: 0; /* Removing default margin */
    padding: 0; /* Removing default padding */

}

header {
    background-color: #4CAF50; /* Header background color */
    color: white; /* Text color for header */
    padding: 20px; /* Padding around header */
    text-align: center; /* Center-aligning text */
}

h1 {
    margin: 0; /* Removing default margin for h1 */
}

h2 {
    color: #4CAF50; /* Color for section titles */
    margin-top: 20px; /* Space above section titles */
}

ul {
    list-style-type: none; /* Removing bullet points from lists */
    padding: 0; /* Removing padding from lists */
}

li {
    margin-bottom: 10px; /* Space between list items */
}

/* Section Styling */
section {
    padding: 20px; /* Padding inside sections */
}

  

/* Responsive Design */
@media (max-width: 768px) {
    header {
        padding: 15px; /* Reducing padding on smaller screens */
    }
    
    h1 {
        font-size: 1.8em; /* Adjusting font size for h1 */
    }
    
    h2 {
        font-size: 1.5em; /* Adjusting font size for h2 */
    }

    section {
        padding: 15px; /* Reducing section padding */
    }

    li {
        font-size: 0.9em; /* Adjusting list item font size for smaller screens */
    }
}

@media (max-width: 480px) {
    header {
        font-size: 1.2em; /* Further reducing header font size */
    }

    h1 {
        font-size: 1.5em; /* Adjusting font size for h1 */
    }
    
    h2 {
        font-size: 1.3em; /* Adjusting font size for h2 */
    }
    
    li {
        font-size: 0.8em; /* Further reducing list item font size */
    }
}

.image-section {
    width: 100px; /* Set the width of the section */
    height: 100px; /* Set the height of the section */
    overflow: hidden; /* Ensure no overflow */
    position: relative; /* Positioning context for carousel controls */
  }
  
  .image-section img {
    width: 100%; /* Make images fill the width of the container */
    height: 100%; /* Make images fill the height of the container */
    object-fit: cover; /* Maintain aspect ratio and cover the entire area */
  }